[tool.poetry]
name = "pyftms"
version = "0.2.13"
description = "PyFTMS - Python Fitness Machine Service client library."
authors = ["Sergey V. DUDANOV <sergey.dudanov@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.11,<3.13"
bleak = ">=0.21.0"
bleak-retry-connector = "3.5.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
pdoc = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
