[tool.poetry]
name = "pyftms"
version = "0.2.28"
description = "PyFTMS - Python Fitness Machine Service client library."
authors = ["Sergey V. DUDANOV <sergey.dudanov@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.12,<3.13"
bleak = ">=0.21.0"
bleak-retry-connector = "3.6.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
pdoc = "*"


[tool.poetry.group.dev.dependencies]
pytest = "^8.2.2"
tox = "^4.16.0"
ruff = ">=0.5.2,<0.7.0"
black = "^24.4.2"
isort = "^5.13.2"
pytest-md = "^0.2.0"
pytest-emoji = "^0.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
